.activity-item {
    border: 1px solid #DFDFDF;
    .activity-label {
        padding: 10px 20px;
        background-color: #F5F5F5;
        border-bottom: 1px solid #DFDFDF;
    }
    .activity-body{
        padding: 20px;
    }
}